In [10]:
import logging
import os

import pandas as pd

import isocomp
from isocomp.Compare import IsoformLibrary
from isocomp.Compare import utils as compare_utils

logging.basicConfig(level=logging.DEBUG,
                    format='%(asctime)s - %(name)s - '
                    '%(levelname)s - %(message)s')

logger = logging.getLogger('isocomp')

logger.debug(isocomp.__version__)
logger.debug(os.getcwd())

2022-12-26 06:58:31,949 - isocomp - DEBUG - 0.1.0
2022-12-26 06:58:31,951 - isocomp - DEBUG - /home/oguzkhan/code/isocomp/docs

In [3]:
d = dict(zip(['hg002_sqanti_fltr',
              'hg004_sqanti_fltr',
              'hg005_sqanti_fltr'],
             ['../src/tests/data/hg002_sqanti_fltr.fasta',
              '../src/tests/data/hg004_sqanti_fltr.fasta',
              '../src/tests/data/hg005_sqanti_fltr.fasta']))

clustered_gtf_path = '../src/tests/data/clustered_regions.gtf'

ia = IsoformLibrary(clustered_gtf_path,d)

2022-12-26 06:57:13,891 - root - DEBUG - trying to set new clustered_gtf_path: {new_path}
2022-12-26 06:57:13,932 - root - DEBUG - new dict: {'hg002_sqanti_fltr': '../src/tests/data/hg002_sqanti_fltr.fasta', 'hg004_sqanti_fltr': '../src/tests/data/hg004_sqanti_fltr.fasta', 'hg005_sqanti_fltr': '../src/tests/data/hg005_sqanti_fltr.fasta'}

In [4]:
ia.get_isoform('hg002_sqanti_fltr','PB.17.2',start=0,end=10)

'GAGAGGCAGC'

In [5]:
c1 = ia.get_cluster('1')

In [7]:
c1.unique_id

0    tx_0
1    tx_1
2    tx_2
3    tx_3
4    tx_4
Name: unique_id, dtype: object

In [12]:
pd.DataFrame.from_dict(compare_utils.vector_crosser(c1.unique_id,c1.unique_id))\
	.sort_values(by=['V1','V2'])

     V1    V2
2  tx_0  tx_1
1  tx_0  tx_2
3  tx_0  tx_3
0  tx_0  tx_4
7  tx_2  tx_1
8  tx_2  tx_3
9  tx_3  tx_1
5  tx_4  tx_1
4  tx_4  tx_2
6  tx_4  tx_3

In [13]:
c1

+--------------+-------------------+--------------+-----------+-------+
| Chromosome   | Source            | Feature      |     Start | +8    |
| (category)   | (object)          | (category)   |   (int32) | ...   |
|--------------+-------------------+--------------+-----------+-------|
| chr1         | hg004_sqanti_fltr | transcript   |   1013496 | ...   |
| chr1         | hg005_sqanti_fltr | transcript   |   1013496 | ...   |
| chr1         | hg005_sqanti_fltr | transcript   |   1013496 | ...   |
| chr1         | hg002_sqanti_fltr | transcript   |   1013503 | ...   |
| chr1         | hg004_sqanti_fltr | transcript   |   1013531 | ...   |
+--------------+-------------------+--------------+-----------+-------+
Stranded PyRanges object has 5 rows and 12 columns from 1 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
8 hidden columns: End, Score, Strand, Frame, transcript_id, gene_id, Cluster, ... (+ 1 more.)

In [24]:
ia.clustered_gtf[(ia.clustered_gtf.Source == 'hg002_sqanti_fltr') & (ia.clustered_gtf.transcript_id == 'PB.17.2')]

+--------------+-------------------+--------------+-----------+-------+
| Chromosome   | Source            | Feature      |     Start | +8    |
| (category)   | (object)          | (category)   |   (int32) | ...   |
|--------------+-------------------+--------------+-----------+-------|
| chr1         | hg002_sqanti_fltr | transcript   |   1013503 | ...   |
+--------------+-------------------+--------------+-----------+-------+
Stranded PyRanges object has 1 rows and 12 columns from 1 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
8 hidden columns: End, Score, Strand, Frame, transcript_id, gene_id, Cluster, ... (+ 1 more.)

In [27]:
compare_utils.vector_crosser(c1.unique_id,c1.unique_id)

{'V1': ['tx_0',
  'tx_0',
  'tx_0',
  'tx_0',
  'tx_4',
  'tx_4',
  'tx_4',
  'tx_2',
  'tx_2',
  'tx_3'],
 'V2': ['tx_4',
  'tx_2',
  'tx_1',
  'tx_3',
  'tx_2',
  'tx_1',
  'tx_3',
  'tx_1',
  'tx_3',
  'tx_1']}

In [36]:
c1.df.loc[1,['Source','transcript_id']]

Source           hg005_sqanti_fltr
transcript_id              PB.17.1
Name: 1, dtype: object

In [37]:
len(None)

TypeError: object of type 'NoneType' has no len()

In [46]:
list(c1.Chromosome)[0]

'chr1'

In [48]:
compare_utils.vector_crosser(['tx_1','tx_2','tx_3'],['tx_1','tx_2','tx_3'])

{'V1': ['tx_2', 'tx_2', 'tx_1'], 'V2': ['tx_1', 'tx_3', 'tx_3']}